.formcontacto{
    display: block;
    max-width: 500px;
    background-color: rgb(224, 233, 231);
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
    margin: auto;

}